doctype html
html
    head
        title Poc Studio
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#about
        include _partials/menu
        
        .texto-imagen
          .left
            h2 Poc Studio is a design & fabrication studio specializing in highly crafted architectural & landscape architectural elements.
            p Poc Studio is a family owned business with a diverse background in construction, metal finishes, and fabrication. our services range from concept to completion. We work closely with designers, landscape architects, architects, and builders. 
            p Our team is committed in offering a crafted/personalized experience within the field of metal fabrication.
          .right
            img(src="./img/img7.jpg" alt="Poc image")
        .texto
          h2 Our team of talented designers, engineers, and artisans are here to help create standard or unique features for any project. Every piece commissioned is meticulously fabricated, inspected, and installed. Our objective is to build long lasting relationships with our clients.
        .imagen-imagen
          img(src="./img/img8.jpg" alt="Poc image")
          img(src="./img/img9.jpg" alt="Poc image")
        
        include _partials/footer
        
        script(src='/js/script.js')
