doctype html
html
    head
        title Poc Studio | B Street
        meta(charset="utf-8")
        link(rel="icon" type="image/png" href="./img/favicon.png")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#project
        include _partials/menu
        .imagenes-texto
          .imagenes-slick
            .owl-carousel.owl-theme
              .item
                img(src="./img/B1.jpg" alt="Poc image")
              .item
                img(src="./img/B2.jpg" alt="Poc image")
              .item
                img(src="./img/B3.jpg" alt="Poc image")
              .item
                img(src="./img/B4.jpg" alt="Poc image")
              .item
                img(src="./img/B5.jpg" alt="Poc image")
          .texto
            .titulo
              h2 B Street
            .info
              .item
                h4 Architect/Designer
                p BNIM Architecture Firm
              .item
                h4 Builder
                p Jaime Partners
              .item 
                h4 Contribution
                p Drink rails, privacy screens, planters 
              .item
                h4 Material(s)
                p Aluminum, Hot rolled steel
              .item 
                h4 Finish(es)
                p Satin black powder coat
        .next-proj
          .izquierda
            a(href="Tamborrell.html") ← Previous Project
          .derecha
            a(href="Bondougjie.html") Next Project →
        
        
        include _partials/footer
        
        script(src='/js/script.js')
        
