doctype html
html
    head
        title Poc Studio | Iantorno
        meta(charset="utf-8")
        link(rel="icon" type="image/png" href="./img/favicon.png")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#project
        include _partials/menu
        .imagenes-texto
          .imagenes-slick
            .owl-carousel.owl-theme
              .item
                img(src="./img/ia01.jpg" alt="Poc image")
              .item
                img(src="./img/ia02.jpg" alt="Poc image")
              .item
                img(src="./img/ia03.jpg" alt="Poc image")
              .item
                img(src="./img/ia04.jpg" alt="Poc image")
              .item
                img(src="./img/ia05.jpg" alt="Poc image")
              .item
                img(src="./img/ia06.jpg" alt="Poc image")
              .item
                img(src="./img/ia07.jpg" alt="Poc image")
              .item
                img(src="./img/ia08.jpg" alt="Poc image")
              .item
                img(src="./img/ia09.jpg" alt="Poc image")
          .texto
            .titulo
              h2 Iantorno
            .info
              .item
                h4 Architect/Designer
                p Waterline Pools and Spas
              .item
                h4 Builder
                p Waterline Pools and Spas
              .item 
                h4 Contribution
                p Custom pergola, retaining wall 
              .item
                h4 Material(s)
                p Corten steel, Mild steel square tubing
              .item 
                h4 Finish(es)
                p Satin black polyurethane
        .next-proj
          .izquierda
            a(href="DuChateau.html") ← Previous Project
          .derecha
            a(href="Point-Loma.html") Next Project →
        
        
        include _partials/footer
        
        script(src='/js/script.js')
        
