doctype html
html
    head
        title Proyecto
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#home
        include _partials/menu
        .imagenes_grid
          img(src="/img/avatar.svg" alt="avatar")
        include _partials/footer
