doctype html
html
    head
        title Poc Studio
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#portfolio
        include _partials/menu
        .imagenes_grid
          a(href="#").item
            img(src="/img/img1.jpg" alt="POC image")
            .title
              h2 Project Title
          a(href="#").item
            img(src="/img/img2.jpg" alt="POC image")
            .title
              h2 Project Title
          a(href="#").item
            img(src="/img/img3.jpg" alt="POC image")
            .title
              h2 Project Title
          a(href="#").item
            img(src="/img/img4.jpg" alt="POC image")
            .title
              h2 Project Title
          a(href="#").item
            img(src="/img/img5.jpg" alt="POC image")
            .title
              h2 Project Title
              
          a(href="#").item
            img(src="/img/img6.jpg" alt="POC image")
            .title
              h2 Project Title
        include _partials/footer
        
        script(src='/js/script.js')
