doctype html
html
    head
        title Poc Studio
        meta(charset="utf-8")
        link(rel="icon" type="image/png" href="./img/favicon.png")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#portfolio
        include _partials/menu
        .imagenes_grid
          a(href="B-Street.html").item
            img(src="/img/B1.jpg" alt="POC image")
            .title
              h2 B Street
          a(href="Bondougjie.html").item
            img(src="/img/bon2.jpg" alt="POC image")
            .title
              h2 Bondougjie
          a(href="DuChateau.html").item
            img(src="/img/du1.jpg" alt="POC image")
            .title
              h2 DuChateau
          a(href="Iantorno.html").item
            img(src="/img/ia01.jpg" alt="POC image")
            .title
              h2 Iantorno
          a(href="Solana.html").item
            img(src="/img/so01.jpg" alt="POC image")
            .title
              h2 Solana
          a(href="Tamborrell.html").item
            img(src="/img/to01.jpg" alt="POC image")
            .title
              h2 Tamborrell
          a(href="Point-Loma.html").item
            img(src="/img/po01.jpeg" alt="POC image")
            .title
              h2 Point Loma
          a(href="Social-Tap.html").item
            img(src="/img/soc01.jpeg" alt="POC image")
            .title
              h2 Social Tap
        include _partials/footer
        
        
        script(src='/js/script.js')
