doctype html
html
    head
        title Poc Studio
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#process
        include _partials/menu
        
        .texto-process
          .left
            h2 Our process starts by identifying the needs of the client during the initial consultation.
            p Once identified our team will take project from the conceptual phase through final installation.
            a(href="index.html") View Portfolio →
          .right
            .proceso
              p 1
              .nombre
                h3 Initial Consultation
            .proceso
              p 2
              .nombre
                h3 Site Survey
            .proceso
              p 3
              .nombre
                h3 Proposal & Schematic Design
            .proceso
              p 4
              .nombre
                h3 Engineering
            .proceso
              p 5
              .nombre
                h3 Fabrication
            .proceso
              p 6
              .nombre
                h3 Installation
        
        
        include _partials/footer
        
        script(src='/js/script.js')
