doctype html
html
    head
        title Poc Studio | Social Tap
        meta(charset="utf-8")
        link(rel="icon" type="image/png" href="./img/favicon.png")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#project
        include _partials/menu
        .imagenes-texto
          .imagenes-slick
            .owl-carousel.owl-theme
              .item
                img(src="./img/soc01.jpeg" alt="Poc image")
              .item
                img(src="./img/soc02.jpeg" alt="Poc image")
              .item
                img(src="./img/soc03.jpeg" alt="Poc image")
          .texto
            .titulo
              h2 Social Tap
            .info
              .item
                h4 Architect/Designer
                p Capital Real Estate Ventures Inc.
              .item
                h4 Prime Contractor/Builder
                p Capital Real Estate Ventures Inc.
              .item 
                h4 Contribution
                p Overhead structure, Railing
              .item
                h4 Material(s)
                p Wide flange I beam, Cold Rolled Steel 
              .item 
                h4 Finish(es)
                p Satin black powder coat 
        .next-proj
          .izquierda
            a(href="Point-Loma.html") ← Previous Project
          .derecha
            a(href="Solana.html") Next Project →
        
        
        include _partials/footer
        
        script(src='/js/script.js')
        
