doctype html
html
    head
        title Poc Studio | Tamborrell
        meta(charset="utf-8")
        link(rel="icon" type="image/png" href="./img/favicon.png")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
    body
      .container#project
        include _partials/menu
        .imagenes-texto
          .imagenes-slick
            .owl-carousel.owl-theme
              .item
                img(src="./img/to01.jpg" alt="Poc image")
              .item
                img(src="./img/to02.jpg" alt="Poc image")
              .item
                img(src="./img/to03.jpg" alt="Poc image")
              .item
                img(src="./img/to04.jpg" alt="Poc image")
              .item
                img(src="./img/to05.jpg" alt="Poc image")
              .item
                img(src="./img/to06.jpg" alt="Poc image")
              .item
                img(src="./img/to07.jpg" alt="Poc image")
              .item
                img(src="./img/to08.jpg" alt="Poc image")
              .item
                img(src="./img/to09.jpg" alt="Poc image")
          .texto
            .titulo
              h2 Tamborrell
            .info
              .item
                h4 Architect/Designer
                p Poc Studio
              .item
                h4 Prime Contractor/Builder
                p Poc Studio 
              .item 
                h4 Contribution
                p Custom Pergola
              .item
                h4 Material(s)
                p 6061-T6 Aluminum 
              .item 
                h4 Finish(es)
                p Matte white powder coat
        .next-proj
          .izquierda
            a(href="Solana.html") ← Previous Project
          .derecha
            a(href="B-Street.html") Next Project →
        
        
        include _partials/footer
        
        script(src='/js/script.js')
        
