#footer
  .f1
    ul
      li
        a(href="#") Shop
      li
        a(href="index.html") Portfolio
      li
        a(href="about.html") About
      li
        a(href="process.html") Process
      li
        a(href="contact.html") Contact
  .f2
    p 170 Mace Street, Suite D08 <br>Chula Vista CA <br>91911, United States
  .f3
    a(href="tel:+16193186439") +1 619 318 6439
    a(href="mailto:hello@pocstudio.co") hello@pocstudio.co
  .f4
    a(href="https://www.facebook.com/pocstudio.co" target="_blank") Facebook
    a(href="https://www.instagram.com/poc_studio/" target="_blank") Instagram
    a(href="https://www.houzz.es/pro/pocstudio/ " target="_blank") Houzz
    a(href="https://www.pinterest.com/pocstudio/" target="_blank") Pinterest
