#footer
  .f1
    ul
      li
        a(href="#") Shop
      li
        a(href="index.html") Portfolio
      li
        a(href="#") About
      li
        a(href="#") Process
      li
        a(href="#") Contact
  .f2
    p 170 Mace Street, Suite D08 <br>Chula Vista CA <br>91911, United States
  .f3
    a(href="tel:+16193186439") +1 619 318 6439
    a(href="mailto:hello@pocstudio.co") hello@pocstudio.co
  .f4
    a(href="#") Instagram
    a(href="#") Houzz
